Repository pulsovi/anki-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest

feat(anki-pug): add word-diff option to template diff menu
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/MenuItem.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/No.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Quit.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Word.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/index.ts
  yarn.lock
Due: eslint

refactor(anki-pug): consistent debug log name
  packages/anki-pug/src/lib/ModelsDiffManager.ts
Due: eslint

refactor(ankig-pug): fully refactored Menu and MenuItem
  packages/anki-pug/src/lib/Menu/.eslintrc.yml
  packages/anki-pug/src/lib/Menu/Menu.ts
  packages/anki-pug/src/lib/Menu/MenuItem.ts
  packages/anki-pug/src/lib/Menu/index.ts
  packages/anki-pug/src/lib/MenuItem.ts
  packages/anki-pug/src/lib/TemplateDiffManager.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/.eslintrc.yml
  packages/anki-pug/src/lib/TemplateDiffMenu/No.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Quit.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenu.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenuItem.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Word.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/index.ts
Due: eslint

feat(anki-pug): add newlineAtEofFilter
  packages/anki-pug/src/lib/Menu/Menu.ts
  packages/anki-pug/src/lib/Menu/MenuItem.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/NewlineAtEofFilter.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenu.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenuItem.ts
Due: eslint

dev(anki-pug): update eslint-config-pulsovi
  yarn.lock
Due: none

feat(anki-pug): make each model manageable by default
  packages/anki-pug/src/lib/Menu/Menu.ts
  packages/anki-pug/src/lib/ModelDiffManager.ts
  packages/anki-pug/src/lib/TemplateDiffManager.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenu.ts
  packages/anki-pug/tests/TemplateDiffManager.test.ts
  packages/anki-pug/tsconfig.json
Due: eslint, jest

feat(anki-pug): add no diff short circuit
  packages/anki-pug/src/lib/Menu/Menu.ts
  packages/anki-pug/src/lib/Menu/MenuItem.ts
  packages/anki-pug/src/lib/TemplateDiffManager.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/NoDiffResponse.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenu.ts
Due: eslint

feat(anki-pug): better display empty model name
  packages/anki-pug/src/lib/ModelDiffManager.ts
Due: eslint

feat(anki-pug): prompt template name before process it
  packages/anki-pug/src/lib/TemplateDiffManager.ts
Due: eslint

fix(anki-pug): prompt template name before resolve process
  packages/anki-pug/src/lib/TemplateDiffManager.ts
  packages/anki-pug/src/lib/util/TaskSyncer.ts
  packages/anki-pug/tests/TemplateDiffManager.test.ts
Due: eslint, jest

feat(anki-pug): add Overwrite option to diff menu
  TODO.md
  packages/anki-pug/TODO.md
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Overwrite.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenu.ts
Due: eslint

refactor: starting refactoring the file tree
  packages/anki-addon-import-export/README.md
  packages/anki-addon-import-export/TODO.md
  packages/anki-addon-import-export/old.py
  packages/anki-addon-import-export/src/__init__.py
  packages/anki-addon-import-export/src/config.json
  packages/anki-addon-import-export/src/config.md
  packages/anki-addon-import-export/src/util.py
  packages/anki-addon-import-export/watch.py
Due: none

chore: deprecate outputFile in Template raw
  .yarnrc.yml
  package.json
  packages/anki-addon-import-export/README.md
  packages/anki-pug/.eslintrc.js
  packages/anki-pug/.eslintrc.yml
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Overwrite.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenu.ts
  packages/anki-pug/tests/TemplateDiffManager.test.ts
  yarn.lock
Due: eslint, jest

feat: Add package anki-connect
  package.json
  packages/anki-connect/.babelrc
  packages/anki-connect/.eslintignore
  packages/anki-connect/.eslintrc.js
  packages/anki-connect/.gitignore
  packages/anki-connect/README.md
  packages/anki-connect/package.json
  packages/anki-connect/src/API.d.ts
  packages/anki-connect/src/AnkiConnect.ts
  packages/anki-connect/src/index.ts
  packages/anki-connect/src/util/.eslintrc.yml
  packages/anki-connect/src/util/index.ts
  packages/anki-connect/src/util/todo.ts
  packages/anki-connect/tsconfig.json
  yarn.lock
Due: eslint

dev: add lint-staged pre-commit hook
  .husky/pre-commit
  package.json
  packages/anki-connect/.lintstagedrc.yml
  packages/anki-connect/package.json
  yarn.lock
Due: none

dev: allow passing options such --watch to build script
  packages/anki-connect/package.json
  packages/anki-pug/package.json
Due: none

feat: allow prompt message for todo function
  packages/anki-pug/src/lib/util/todo.ts
Due: eslint

feat: fill Template.getAnki method
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/util/AnkiConnection.ts
  packages/anki-pug/src/lib/util/index.ts
Due: eslint

feat: improve config error log
  packages/anki-pug/src/lib/getConfig.ts
Due: eslint

dev: use the published version of eslint-config-pulsovi
  package.json
  packages/anki-pug/.eslintrc.js
  packages/anki-pug/.eslintrc.yml
  packages/anki-pug/package.json
  yarn.lock
Due: eslint

feat: add test command
  packages/anki-pug/src/bin/anki-pug.ts
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/src/lib/index.ts
  packages/anki-pug/tests/getConfig.test.ts
Due: eslint, jest

feat(anki-pug): add instructions to README.md
  packages/anki-pug/README.md
  packages/anki-pug/TODO.md
Due: none

fix: rc modify defaults object
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/src/lib/services/.eslintrc
  packages/anki-pug/src/lib/services/getConfig.ts
  packages/anki-pug/src/lib/services/index.ts
  packages/anki-pug/src/lib/util/index.ts
  packages/anki-pug/src/lib/util/json.ts
  packages/anki-pug/tests/getConfig.test.ts
Due: eslint, jest

fix: relative path in config
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/tests/getConfig.test.ts
Due: eslint, jest

refactor: export tasksyncer to its own module
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/util/TaskSyncer.ts
  packages/anki-pug/src/lib/util/index.ts
  packages/anki-pug/tests/util/TaskSyncer.test.ts
  yarn.lock
Due: eslint, jest

fix: make ankiProfile required
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/tests/getConfig.test.ts
Due: eslint, jest

feat: log config
  packages/anki-pug/src/lib/index.ts
  packages/anki-pug/src/lib/util/debug.ts
Due: eslint

dev: update eslint config
  packages/anki-connect/package.json
  packages/anki-pug/package.json
  yarn.lock
Due: none

feat: add ankiConnection service
  packages/anki-pug/src/lib/services/ankiConnection.ts
  packages/anki-pug/src/lib/services/index.ts
  packages/anki-pug/src/lib/util/index.ts
Due: eslint

dev: add todos
  packages/anki-pug/TODO.md
Due: none

feat: Template use ankiConnection service
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModelManager.ts
  packages/anki-pug/src/lib/ModelsDiffManager.ts
  packages/anki-pug/src/lib/Template.ts
Due: eslint

feat: services export default config as "config"
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/services/getConfig.ts
Due: eslint

feat: fill Template.setAnki method
  packages/anki-connect/.lintstagedrc.yml
  packages/anki-connect/package.json
  packages/anki-connect/src/AnkiConnect.ts
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Overwrite.ts
  yarn.lock
Due: eslint

feat: allow fixing import error by deleting the file
  packages/anki-pug/src/lib/ErrorManager/DefaultImportErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/ValidationErrorManager.ts
  packages/anki-pug/src/lib/util/chokidarOnce.ts
Due: eslint

dev: add source maps
  packages/anki-pug/package.json
Due: none

chore: prune unnecessary calls to yarn
  package.json
Due: none

refactor: more explicit error message
  packages/anki-pug/src/lib/Template.ts
Due: eslint

refactor: rename classes for much precise and add docstrings
  packages/anki-pug/src/lib/CollectionDiffManager.ts
  packages/anki-pug/src/lib/ModelCollectionManager.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/index.ts
Due: eslint

refactor: update util/todo
  packages/anki-pug/src/lib/util/log.ts
  packages/anki-pug/src/lib/util/time.ts
  packages/anki-pug/src/lib/util/todo.ts
Due: eslint

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  jest: any of: *.test.ts
