Repository pulsovi/anki-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest

.lintstagedrc:

{
  "*.js": "eslint",
  "*.test.ts": "jest",
  "*.ts": "eslint",
}

feat: ROOT_FOLDER is now configurable
  packages/anki-addon-import-export/__init__.py
  packages/anki-addon-import-export/config.json
  packages/anki-addon-import-export/config.md
Due: none

doc: add some types and infos
  packages/anki-addon-import-export/__init__.py
Due: none

feat: minimal typescript configuration
  .yarnrc.yml
  model/.eslintrc.json
  package.json
  packages/anki-pug/.babelrc
  packages/anki-pug/.eslintignore
  packages/anki-pug/.eslintrc.js
  packages/anki-pug/.gitignore
  packages/anki-pug/.yarnrc.yml
  packages/anki-pug/README.md
  packages/anki-pug/TODO.md
  packages/anki-pug/jest.config.js
  packages/anki-pug/package.json
  packages/anki-pug/src/bin/.eslintrc.yml
  packages/anki-pug/src/lib/util/.eslintrc
  packages/anki-pug/tests/global.d.ts
  packages/anki-pug/tsconfig.json
Due: eslint

fix: configure lint-staged
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.yml
  package.json
  packages/anki-pug/.eslintrc.js
  packages/anki-pug/.lintstagedrc.yml
  packages/anki-pug/package.json
Due: eslint

feat: add getConfig
  .yarn-patches/@types/rc.patch
  .yarnrc.yml
  package.json
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/src/lib/util/getConfig.ts
  packages/anki-pug/src/lib/util/getPackageName.ts
  packages/anki-pug/src/lib/util/index.ts
  packages/anki-pug/tests/getConfig.test.ts
Due: eslint, jest

refactor: set appName hard
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/tests/getPackageName.test.ts
Due: eslint, jest

feat: add binary file
  packages/anki-pug/package.json
  packages/anki-pug/src/bin/anki-pug.ts
  packages/anki-pug/src/lib/index.ts
  packages/anki-pug/src/lib/util/debug.ts
  packages/anki-pug/src/lib/util/index.ts
  packages/anki-pug/src/lib/util/todo.ts
Due: eslint

refactor: apply tiny lint recommendation and add some doc info
  index.js
  packages/manager/index.js
  tests/bin/debug.sh
  tests/src/test/diff.html
  tests/src/test/index.js
Due: eslint

feat: add diff (diff all) function to index
  packages/anki-pug/src/lib/ModelDiffManager.ts
  packages/anki-pug/src/lib/index.ts
  yarn.lock
Due: eslint

fix: improve types of rc
  .yarn-patches/@types/rc.patch
Due: none

feat: add ModelDiffManager.processAll method
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModelDiffManager.ts
  packages/anki-pug/src/lib/ModelManager.ts
  packages/anki-pug/src/lib/types.d.ts
  packages/anki-pug/src/lib/util/TaskSyncer/TaskSyncer.ts
  packages/anki-pug/src/lib/util/TaskSyncer/index.ts
  packages/anki-pug/src/lib/util/index.ts
  yarn.lock
Due: eslint

feat: add ModelManager.getModels method
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModelManager.ts
Due: eslint

feat: add ModelManager.listModels method
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/ModelManager.ts
  yarn.lock
Due: eslint

feat: add ModelManager.nameFromPath method
  packages/anki-pug/src/lib/ModelManager.ts
Due: eslint

feat: add Model.getName method
  packages/anki-pug/src/lib/Model.ts
Due: eslint

feat: add ModelDiffManager.processModel method
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModelDiffManager.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/TemplateDiffManager.ts
  packages/anki-pug/src/lib/util/TaskSyncer/TaskSyncer.ts
  packages/anki-pug/src/lib/util/TaskSyncer/Ticket.ts
Due: eslint

feat: add TaskSyncer.getTicket method
  packages/anki-pug/src/lib/util/TaskSyncer/TaskSyncer.ts
  packages/anki-pug/src/lib/util/TaskSyncer/Ticket.ts
  packages/anki-pug/src/lib/util/deferredPromise.ts
  packages/anki-pug/src/lib/util/index.ts
Due: eslint

feat: add Model.getAllTemplates method
  packages/anki-pug/src/lib/Model.ts
Due: eslint

fix: Model.getAllTemplate delegate import to ModuleLoader
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/types.d.ts
  yarn.lock
Due: eslint

feat: add ModuleLoader.load method
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
  packages/anki-pug/src/lib/types.d.ts
Due: eslint

refactor: prune replaced file
  src/diff/_promise.js
Due: eslint

feat: add TaskSyncer.enqueue method
  packages/anki-pug/src/lib/util/TaskSyncer/TaskSyncer.ts
Due: eslint

fix: catch synchronous errors in TaskSyncer.enqueue
  packages/anki-pug/src/lib/util/TaskSyncer/TaskSyncer.ts
Due: eslint

feat: Ticket become TaskSyncer instance
  packages/anki-pug/TODO.md
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/ModelDiffManager.ts
  packages/anki-pug/src/lib/util/TaskSyncer.ts
  packages/anki-pug/src/lib/util/TaskSyncer/TaskSyncer.ts
  packages/anki-pug/src/lib/util/TaskSyncer/Ticket.ts
  packages/anki-pug/src/lib/util/TaskSyncer/index.ts
  packages/anki-pug/tests/.eslintrc
  packages/anki-pug/tests/util/TaskSyncer.test.ts
Due: eslint, jest

feat: add managers for load module errors
  packages/anki-pug/src/lib/ErrorManager/InvalidArgTypeErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/ModuleNotFoundErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/SpecificErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/index.ts
  packages/anki-pug/src/lib/ErrorManager/types.d.ts
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
Due: eslint

fix: security issue
  package.json
  yarn.lock
Due: none

feat: add TemplateDiffManager.process no-diff route
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/TemplateDiffManager.ts
Due: eslint

refactor: restructure error managers
  packages/anki-pug/src/lib/ErrorManager/BaseErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/ImportErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/InvalidArgTypeErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/ModuleNotFoundErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/SpecificErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/index.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
Due: eslint

fix: @types/rc is officially patched, remove my patch
  .yarn-patches/@types/rc.patch
  .yarnrc.yml
  package.json
  packages/anki-pug/package.json
  yarn.lock
Due: none

fix: second ticket ready wait for first ticket done
  packages/anki-pug/TODO.md
  packages/anki-pug/src/lib/util/TaskSyncer.ts
  packages/anki-pug/tests/util/TaskSyncer.test.ts
  yarn.lock
Due: eslint, jest

feat: add Template.getRawHtml method
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/Template.ts
  yarn.lock
Due: eslint

feat: fill Template.getCompiledPug method
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/PugFile.ts
  packages/anki-pug/src/lib/Template.ts
  yarn.lock
Due: eslint

fix: add Template schema validation
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/Template.ts
Due: eslint

feat: add optional schema validation to ModuleLoader
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
  packages/anki-pug/src/lib/Template.ts
Due: eslint

refactor: BaseErrorManager become interface (was abstract class)
  packages/anki-pug/src/lib/ErrorManager/BaseErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/ImportErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/InvalidArgTypeErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/ModuleNotFoundErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/types.d.ts
Due: eslint

feat: add ValidationErrorManager
  packages/anki-pug/src/lib/ErrorManager/ValidationErrorManager.ts
  packages/anki-pug/src/lib/ErrorManager/index.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
Due: eslint

feat: add format and validation in ModuleLoader.load options
  packages/anki-pug/src/lib/ErrorManager/ImportErrorManager.ts
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
Due: eslint

feat: use format option of ModuleLoader.load function in Model
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/types.d.ts
Due: eslint

feat: use validate option of ModuleLoader.load function in Model
  packages/anki-pug/src/lib/Model.ts
Due: eslint

feat: implement Model.validateModule
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/Template.ts
Due: eslint
