Repository pulsovi/anki-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest

refactor: adds the concept of "model item"
  packages/anki-pug/src/lib/CollectionDiffManager.ts
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModelCollectionManager.ts
  packages/anki-pug/src/lib/ModelDiffManager.ts
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffManager.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/.eslintrc.yml
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenu.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenuItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/NewlineAtEofFilter.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/No.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/NoDiffResponse.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Overwrite.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Quit.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Word.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/index.ts
  packages/anki-pug/src/lib/ModelItemFactory.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/No.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/Overwrite.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/TemplateDiffMenuItem.ts
  packages/anki-pug/src/lib/TemplateDiffMenu/index.ts
  packages/anki-pug/src/lib/services/index.ts
  packages/anki-pug/src/lib/types.d.ts
  packages/anki-pug/tests/ModelDiffManager.test.ts
  packages/anki-pug/tests/ModelItemDiffManager.test.ts
Due: eslint, jest

dev: error message more verbose
  packages/anki-pug/src/lib/getConfig.ts
Due: eslint

doc: add doc link
  packages/anki-connect/src/AnkiConnect.ts
Due: eslint

feat: add service modelItemFactory
  packages/anki-pug/src/lib/ModelItemFactory.ts
  packages/anki-pug/src/lib/services/index.ts
Due: eslint

doc: add todo items
  packages/anki-pug/TODO.md
Due: none

feat: fill ModelItemFactory.getModelItem
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenu.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenuItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Word.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/index.ts
  packages/anki-pug/src/lib/ModelItemFactory.ts
  packages/anki-pug/src/lib/ModelItemMedia.ts
  packages/anki-pug/src/lib/services/index.ts
  packages/anki-pug/src/lib/services/modelItemFactory.ts
  packages/anki-pug/src/lib/util/index.ts
  packages/anki-pug/src/lib/util/isString.ts
  packages/anki-pug/src/lib/util/log.ts
  packages/anki-pug/src/lib/util/todo.ts
Due: eslint

chore: rename TODO to package prefixed name
  packages/anki-pug/Anki-pug_TODO.md
Due: none

feat: add ankiConnection to all ModelItem concrete classes
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemFactory.ts
  packages/anki-pug/src/lib/ModelItemMedia.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/services/modelItemFactory.ts
Due: eslint

feat: fill ModelItemMedia.getAnki method
  packages/anki-connect/src/API.d.ts
  packages/anki-connect/src/AnkiConnect.ts
  packages/anki-connect/src/util/todo.ts
  packages/anki-pug/Anki-pug_TODO.md
  packages/anki-pug/src/lib/ModelItemMedia.ts
Due: eslint

feat: fill ModelItemMedia.getCompiledPug method
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/NewlineAtEofFilter.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/util.ts
  packages/anki-pug/src/lib/ModelItemMedia.ts
  packages/anki-pug/src/lib/util/todo.ts
Due: eslint

feat: media item type text with no difference
  packages/anki-pug/src/lib/Menu/Menu.ts
  packages/anki-pug/src/lib/Menu/MenuItem.ts
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/NoDiffResponse.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Overwrite.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Word.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/util.ts
  packages/anki-pug/src/lib/ModelItemMedia.ts
  packages/anki-pug/src/lib/Template.ts
Due: eslint

feat: add template and style model item
  package.json
  packages/anki-connect/package.json
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemFactory.ts
  packages/anki-pug/src/lib/ModelItemMedia.ts
  packages/anki-pug/src/lib/ModelItemStyle.ts
  packages/anki-pug/src/lib/ModelItemTemplate.ts
  packages/anki-pug/src/lib/services/modelItemFactory.ts
  yarn.lock
Due: eslint

feat: add ModelItemTemplate.getAnki method
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemFactory.ts
  packages/anki-pug/src/lib/ModelItemMedia.ts
  packages/anki-pug/src/lib/ModelItemStyle.ts
  packages/anki-pug/src/lib/ModelItemTemplate.ts
  yarn.lock
Due: eslint

feat: fill ModelItemTemplate.getCompiledPug
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenu.ts
  packages/anki-pug/src/lib/ModelItemTemplate.ts
Due: eslint

feat: catch and show AnkiConnect errors
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ErrorHandler.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenu.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/index.ts
  packages/anki-pug/src/lib/ModelItemStyle.ts
  packages/anki-pug/src/lib/ModelItemTemplate.ts
Due: eslint

feat: fill ModelItemStyle getAnki and getCompiled methods
  packages/anki-pug/src/lib/ModelItemStyle.ts
Due: eslint

fix: always wait for ticket ready before act
  packages/anki-pug/src/lib/Menu/Menu.ts
Due: eslint

feat: add updateCardSideTemplate method
  packages/anki-connect/src/API.d.ts
  packages/anki-connect/src/AnkiConnect.ts
Due: eslint

fix: TaskSyncer rabbit hole
  packages/anki-connect/.gitignore
  packages/anki-connect/jest.config.js
  packages/anki-connect/src/AnkiConnect.ts
  packages/anki-connect/tests/global.d.ts
  packages/anki-connect/tests/task-syncer-holes.test.ts
Due: eslint, jest

chore: use eslint_d for better performance
  .lintstagedrc.yml
  package.json
  packages/anki-connect/.lintstagedrc.yml
  packages/anki-connect/package.json
  yarn.lock
Due: none

chore: run lint-staged once for all packages
  packages/anki-connect/package.json
  packages/anki-pug/package.json
Due: none

feat: complete ModelItemTemplate methods
  packages/anki-pug/.lintstagedrc.yml
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/Menu/Menu.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenu.ts
  packages/anki-pug/src/lib/ModelItemStyle.ts
  packages/anki-pug/src/lib/ModelItemTemplate.ts
  packages/anki-pug/src/lib/PugFile.ts
  packages/anki-pug/src/lib/Template.ts
  packages/anki-pug/src/lib/util/todo.ts
  yarn.lock
Due: eslint

feat: ModelItemStyle.setAnki
  package.json
  packages/anki-connect/.lintstagedrc.yml
  packages/anki-connect/package.json
  packages/anki-connect/src/API.d.ts
  packages/anki-connect/src/AnkiConnect.ts
  packages/anki-connect/tsconfig.types.json
  packages/anki-pug/.lintstagedrc.yml
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/ModelItemStyle.ts
  packages/anki-pug/src/lib/ModelItemTemplate.ts
Due: eslint

refactor: add canAct control on Word menu choice
  packages/anki-pug/src/lib/ModelItemDiffMenu/Word.ts
Due: eslint

test: refactor process wait for prompt
  packages/anki-pug/tests/ModelItemDiffManager.test.ts
Due: eslint, jest

chore: up dependencies
  packages/anki-connect/package.json
  packages/anki-pug/package.json
  yarn.lock
Due: none

chore: fix misprint in lint-staged config file
  packages/anki-pug/.lintstagedrc.yml
Due: none

feat: add s [source] menu option
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ModelItemDiffMenu.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Source.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/index.ts
  packages/anki-pug/src/lib/util/run.ts
Due: eslint

refactor: advance on some experiment features
  packages/anki-pug/src/lib/Model.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ErrorHandler.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/NoDiffResponse.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Overwrite.ts
  packages/anki-pug/src/lib/ModelItemTemplate.ts
Due: eslint

doc: Temporarily move the TODO and some part of the doc to my Obsidian
  packages/anki-pug/Anki-pug_TODO.md
  packages/anki-pug/README.md
Due: none

refactor: test and diff can have different config
  packages/anki-connect/package.json
  packages/anki-pug/src/bin/anki-pug.ts
  packages/anki-pug/src/bin/diff-command.ts
  packages/anki-pug/src/bin/test-command.ts
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/src/lib/index.ts
  packages/anki-pug/src/lib/util/json.ts
  packages/anki-pug/tests/getConfig.test.ts
  yarn.lock
Due: eslint, jest

feat: add TestManager
  packages/anki-pug/package.json
  packages/anki-pug/src/lib/ModuleLoader.ts
  packages/anki-pug/src/lib/TestManager.ts
  yarn.lock
Due: eslint

debug: extends stack trace limit
  packages/anki-pug/src/bin/anki-pug.ts
Due: eslint

feat: add TestClass
  packages/anki-pug/src/lib/TestClass.ts
Due: eslint

fix: ECONNRESET errors by adding retrying
  packages/anki-connect/src/AnkiConnect.ts
  packages/anki-connect/tsconfig.json
Due: eslint

fourre-tout
  README.md
  TODO.md
  anki-cards.sublime-project
  anki-cards.sublime-workspace
  packages/anki-pug/.lock
  packages/anki-pug/src/lib/ModelItem.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/ErrorHandler.ts
  packages/anki-pug/src/lib/ModelItemDiffMenu/Source.ts
  packages/anki-pug/src/lib/ModelItemStyle.ts
  packages/anki-pug/src/lib/ModuleLoader.ts
  packages/anki-pug/src/lib/getConfig.ts
  packages/anki-pug/tsconfig.json
Due: eslint

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  jest: any of: *.test.ts
